html,body{
  width:100%;
  height:100%;

}


head{
  display: block;
  width: 100%;
  height: 55pt;
  background-color: #d2d7db;
}

img.web-name-logo{
  width:15%;
  height:auto;
  position:absolute;
  top:.4%;
  left:44%;
}

.map{
  width:845px;
  height:527px;
  position:absolute;
  top:16%;
  left:21%;

}

button{
  display:block;
  width:50pt;
  height:50pt;
  background-color: #fcde88;
  border-radius: 50%;
  margin-left: 10pt;
  margin-top:10pt;
  background-image: url(ship.png);
  background-size: cover;
  border:none;
  outline: none;
}

button:hover{
  box-shadow:2px 2px 2px 2px #899cba;
}

button:focus nav {
  display: block;
  box-shadow:20px 20px 20px 20px #c9b57e;

}
nav{
  display: none;
  background-color: #ffe496;
  top:0;
  bottom:0;
  right:0;
  position:fixed;
  width:20%;
}


ul.index-page {
  list-style-type:none;
  display: block;
  float:inherit;
  background-color: #ffe496;
  margin-top: 55pt;

}

a.index-page-a {
  color:#494845;
  display: block;
  text-align: center;
  letter-spacing: 5pt;
  line-height: 80px;
  text-decoration:underline;
  font-size: 150%;
  font-family: "Gill sans";
  padding-left: 5pt;
  padding-bottom: 5pt;
  width:inherit;
}
a.index-page-a:hover{
  display: block;
  background-color: #f9d97a;
}

.about-content{
  display:none;
  position:absolute;
  text-align: center;
  font-family: "Gill sans";
  font-weight: lighter;
  padding-top: 5%;

}
.editor-content{
  display:none;
  position:absolute;
  text-align: center;
  font-family: "Gill sans";
  font-weight: lighter;
  padding-top: 5%;
}
.contact-content{
  display:none;
  position:absolute;
  text-align: center;
  font-family: "Gill sans";
  font-weight: lighter;
  padding-top: 5%;
}

li:hover .about-content{
  display:inline-block;
  color:white;
  top:55pt;
  bottom:0;
  right:100%;
  width:400%;
  background-color:#494845;
  opacity: 0.92;
    filter: Alpha(opacity=92);
}
li:hover .editor-content{
  display:inline-block;
  color:white;
  top:55pt;
  bottom:0;
  right:100%;
  width:400%;
  background-color:#494845;
  opacity: 0.92;
    filter: Alpha(opacity=92);
}
li:hover .contact-content{
  display: inline-block;
  color:white;
  top:55pt;
  bottom:0;
  right:100%;
  width:400%;
  background-color:#494845;
  opacity: 0.92;
    filter: Alpha(opacity=92);
}



.class-for-navigation{
font-size: 21pt;
font-family: "Gill sans";

}

.MD-flag{
  width:10%;
  height:auto;
  margin-left: -18%;
  top:15%;
}
h1{
  font-size: 60pt;
  font-family:"Palatino";
  color:#494845;
  letter-spacing: 8pt;
  font-weight:bold;
  margin-top: 6%;
  margin-bottom: 4%;
  margin-left: 39%;

}


h2{
  font-size: 24pt;
  font-family: serif;
  color:#2788b5;
  letter-spacing: 2pt;
  font-weight:bold;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: 28%;
}
.MICA{
  font-weight: bold;
  color: #ff1c6f;
  letter-spacing: 2pt;
}
.mica-orange{
  font-weight: bold;
  color: #ff9000;
  letter-spacing: 2pt;
}

h3{
  font-size: 16pt;
  font-weight: normal;
  letter-spacing: 1pt;
  font-family: "Gill sans";
  margin-left: 28%;

}
h4{
  margin-left: 28%;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: white;
}

li.dropdown{
  display:inline-block;
}

.dropbtn{
  display: inline-block;
  color:black;
  font-size: 12pt;
  text-align: left;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: underline;
  font-family: "Gill sans";
}

.dropbtn:hover {
  color:#ff9000;
  transition: .1s;
}
.dropdown-content{
  display: none;
  position:absolute;
  background-color: #e5e9ea;
}
.dropdown-content a{
   color: black;
   padding: 14px 16px;
   width:70%;
   font-size: 11pt;
   font-weight: normal;
   text-decoration: underline;
   display:inline-block;
   text-align: left;
}
.dropdown-content a:hover{
  color:#ff9000;
}

.dropdown:hover .dropdown-content {
    display:block;
}


body.class-for-body{
  background-image: url("peijung.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul.peijung-intro{
  list-style-type:disc;
  display: block;
  margin-left: 10%;
  margin-top: 4.5%;
  margin-right: 10%;
  border-left: 1.2px solid white;
  height:infinite;
  background-color: inherit;
}

li.peijung_intro_li{
  color:white;
  font-family:"Gill sans";
  font-size: 14pt;
  letter-spacing: 3pt;
  line-height:40pt;
  padding-left: 10px;
}
.peijung_intro_hiddencontent{
  display: none;
}
.peijung_intro_studyexperiencecontent{
  display: none;
}
.peijung_intro_goalcontent{
  display: none;
}

.class-for-peiday{
  background-color: white;
  background-image: url(peijung.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows:repeat(10 auto);
  width:60%;
  margin-left:20%;
  margin-right:20%;
  margin-top: 5%;
  grid-gap: 8px;
}
.grid-item {
  border: 1px solid white;
  text-align: center;
}
.front img{
  height:100%;
  width:100%;
  float:left;
}
.grid-item .front{
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition:all 1s ease-in-out;
  transform:rotateY(0deg);
  z-index: 1;
}
.front:hover .back img{
  height:100%;
  width:100%;
  float:left;
}

.grid-item .back{
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition:all 1s ease-in-out;
  transform:rotateY(-180deg);
  z-index: 0;
}
.front:hover{
  transform: rotateY(180deg);
}

.back2{
  width:100%;
  height:100%;
  background-image: url(whole-2.jpg);
  background-size: cover;
}
.back3{
  width:100%;
  height:100%;
  background-image: url(whole-3.jpg);
  background-size: cover;
}
.back4{
  width:100%;
  height:100%;
  background-image: url(whole-4.jpg);
  background-size: cover;
}
.back5{
  width:100%;
  height:100%;
  background-image: url(whole-5.jpg);
  background-size: cover;
}
.back6{
  width:100%;
  height:100%;
  background-image: url(whole-6.jpg);
  background-size: cover;
}
.back7{
  width:100%;
  height:100%;
  background-image: url(whole-7.jpg);
  background-size: cover;
}
.back8{
  width:100%;
  height:100%;
  background-image: url(whole-8.jpg);
  background-size: cover;
}
.back9{
  width:100%;
  height:100%;
  background-image: url(whole-9.jpg);
  background-size: cover;
}
.back10{
  width:100%;
  height:100%;
  background-image: url(whole-10.jpg);
  background-size: cover;
}
.back11{
  width:100%;
  height:100%;
  background-image: url(whole-11.jpg);
  background-size: cover;
}
.back12{
  width:100%;
  height:100%;
  background-image: url(whole-12.jpg);
  background-size: cover;
}
.back13{
  width:100%;
  height:100%;
  background-image: url(whole-13.jpg);
  background-size: cover;
}
.back14{
  width:100%;
  height:100%;
  background-image: url(whole-14.jpg);
  background-size: cover;
}
.back15{
  width:100%;
  height:100%;
  background-image: url(whole-15.jpg);
  background-size: cover;
}
.back16{
  width:100%;
  height:100%;
  background-image: url(whole-16.jpg);
  background-size: cover;
}
.back17{
  width:100%;
  height:100%;
  background-image: url(whole-17.jpg);
  background-size: cover;
}
.back18{
  width:100%;
  height:100%;
  background-image: url(whole-18.jpg);
  background-size: cover;
}
.back19{
  width:100%;
  height:100%;
  background-image: url(whole-19.jpg);
  background-size: cover;
}
.back20{
  width:100%;
  height:100%;
  background-image: url(whole-20.jpg);
  background-size: cover;
}
.back21{
  width:100%;
  height:100%;
  background-image: url(whole-21.jpg);
  background-size: cover;
}
.back22{
  width:100%;
  height:100%;
  background-image: url(whole-22.jpg);
  background-size: cover;
}
.back23{
  width:100%;
  height:100%;
  background-image: url(whole-23.jpg);
  background-size: cover;
}
.back24{
  width:100%;
  height:100%;
  background-image: url(whole-24.jpg);
  background-size: cover;
}
.back25{
  width:100%;
  height:100%;
  background-image: url(whole-25.jpg);
  background-size: cover;
}
.back26{
  width:100%;
  height:100%;
  background-image: url(whole-26.jpg);
  background-size: cover;
}
.back27{
  width:100%;
  height:100%;
  background-image: url(whole-27.jpg);
  background-size: cover;
}
.back28{
  width:100%;
  height:100%;
  background-image: url(whole-28.jpg);
  background-size: cover;
}
.back29{
  width:100%;
  height:100%;
  background-image: url(whole-29.jpg);
  background-size: cover;
}
.back30{
  width:100%;
  height:100%;
  background-image: url(whole-30.jpg);
  background-size: cover;

}
