html body{

}

head{
  display: block;
  width: infinite;
  height: 55pt;
  background-color: #d2d7db;
}

img{
  width:15%;
  height:auto;
  position:absolute;
  top:.4%;
  left:44%;
}

.map{
  width:64%;
  height:auto;
  position:absolute;
  top:14%;
  left:19%;

}

button:focus nav {
  display: block;
  box-shadow:20px 20px 20px 20px #c9b57e;

}
nav{
  display: none;
  background-color: #ffe496;
  top:0;
  bottom:0;
  right:0;
  position:fixed;
  width:20%;
}


ul.index-page {
  list-style-type:none;
  display: block;
  float:inherit;
  background-color: #ffe496;
  margin-top: 55pt;

}

a.index-page-a {
  color:#494845;
  display: block;
  text-align: center;
  letter-spacing: 5pt;
  line-height: 80px;
  text-decoration:underline;
  font-size: 150%;
  font-family: "Gill sans";
  padding-left: 5pt;
  padding-bottom: 5pt;
  width:inherit;
}
a.index-page-a:hover{
  display: block;
  background-color: #f9d97a;
}

.about-content{
  display:none;
  position:absolute;
  text-align: center;
  font-family: "Gill sans";
  font-weight: lighter;
  padding-top: 5%;

}
.editor-content{
  display:none;
  position:absolute;
  text-align: center;
  font-family: "Gill sans";
  font-weight: lighter;
  padding-top: 5%;
}
.contact-content{
  display:none;
  position:absolute;
  text-align: center;
  font-family: "Gill sans";
  font-weight: lighter;
  padding-top: 5%;
}

li:hover .about-content{
  display:inline-block;
  color:white;
  top:55pt;
  bottom:0;
  right:100%;
  width:400%;
  background-color:#494845;
  opacity: 0.92;
    filter: Alpha(opacity=92);
}
li:hover .editor-content{
  display:inline-block;
  color:white;
  top:55pt;
  bottom:0;
  right:100%;
  width:400%;
  background-color:#494845;
  opacity: 0.92;
    filter: Alpha(opacity=92);
}
li:hover .contact-content{
  display: inline-block;
  color:white;
  top:55pt;
  bottom:0;
  right:100%;
  width:400%;
  background-color:#494845;
  opacity: 0.92;
    filter: Alpha(opacity=92);
}

/

.class-for-navigation{
font-size: 21pt;
font-family: "Gill sans";

}

.MD-flag{
  width:10%;
  height:auto;
  margin-left: -18%;
  top:15%;
}
h1{
  font-size: 60pt;
  font-family:"Palatino";
  color:#494845;
  letter-spacing: 8pt;
  font-weight:bold;
  margin-top: 6%;
  margin-bottom: 4%;
  margin-left: 39%;

}


h2{
  font-size: 24pt;
  font-family: serif;
  color:#2788b5;
  letter-spacing: 2pt;
  font-weight:bold;
  margin-top: 5%;
  margin-bottom: 4%;
  margin-left: 28%;
}
.MICA{
  font-weight: bold;
  color: #ff1c6f;
  letter-spacing: 2pt;
}
.mica-orange{
  font-weight: bold;
  color: #ff9000;
  letter-spacing: 2pt;
}

h3{
  font-size: 16pt;
  font-weight: normal;
  letter-spacing: 1pt;
  font-family: "Gill sans";
  margin-left: 28%;

}
h4{
  margin-left: 28%;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: white;
}

li.dropdown{
  display:inline-block;
}

.dropbtn{
  display: inline-block;
  color:black;
  font-size: 12pt;
  text-align: left;
  font-weight: bold;
  padding: 14px 16px;
  text-decoration: underline;
  font-family: "Gill sans";
}

.dropbtn:hover {
  color:#ff9000;
  transition: .1s;
}
.dropdown-content{
  display: none;
  position:absolute;
  background-color: #e5e9ea;
}
.dropdown-content a{
   color: black;
   padding: 14px 16px;
   width:70%;
   font-size: 11pt;
   font-weight: normal;
   text-decoration: underline;
   display:inline-block;
   text-align: left;
}
.dropdown-content a:hover{
  color:#ff9000;
}

.dropdown:hover .dropdown-content {
    display:block;
}

}
